*.rbc
*.sassc
.sass-cache
capybara-*.html
*.log
*.swp
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
solr/data/*
*.war
/config/*.yml
/public/mmp
.project
.settings/*
.redcar
/public/version.html
*~
/sunsport_solr/*


