<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

	<div class="container">

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<header class="special">
							<h2>Titulo</h2>
							<p>Texto</p>
						</header>
						<div class="content">
							<p>Conteudo paragrafo 1 </p>
							<p>Conteudo paragrafo 2</p>
					</div>
			</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>Vestibulum Convallis</h2>
							<p>vehicula urna sed justo bibendum</p>
						</header>
						<div class="content">
							
						</div>
					</section>

				</div>
			</section>
