<body>

	<!-- Header -->
		<div class="container">
			<br>
			<header id="header">
				<div class="logo"><a href="#">Musica</a></div>
			</header>
		</div>

	<!-- Main -->
		<section id="main">
			<div class="inner">

				<div class="image fit flush">
					<%= image_tag("pic002.jpg", :alt => "Harley") %>
				</div>
				<header class="special">
					<h2>Titulo</h2>
					<p>Texto</p>
				</header>
				<div class="content">
					<p>Conteudo paragrafo 1 </p>
					<p>Conteudo paragrafo 2 </p>
				</div>
		</section>

			<!-- Two -->
				<section id="two" class="wrapper style2">
					<header>
						<h2>Vestibulum Convallis</h2>
						<p>vehicula urna sed justo bibendum</p>
					</header>
					<div class="content">
						
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper">
					<div class="spotlight">
						<div class="image flush">
						<%= image_tag("pic06.jpg", :alt => "") %>
						</div>
						<div class="inner">
							<h3>Viverra Hendrerit</h3>
							<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
						</div>
					</div>
					<div class="spotlight alt">
						<div class="image flush">
						<%= image_tag("pic07.jpg", :alt => "") %>
						</div>
						<div  class="inner">
							<h3>Curabitur Eget</h3>
							<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
						</div>
					</div>
					<div class="spotlight">
						<div class="image flush">
						<%= image_tag("pic08.jpg", :alt => "") %>
						</div>
						<div class="inner">
							<h3>Morbi Eleifend</h3>
							<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
						</div>
					</div>
				</section>

			</div>
		</section>
</body>
