<%= stylesheet_link_tag "contato.css"%>

<div class="text-justify pull-right">
    <h1 class="h1">
        Download
    </h1>

<%= link_to 'Download PDF', download_pdf_path, target: "_blank", class: "btn btn-default pull-center", id: "download_pdf" %>
</div>



<div>
<%= render 'form' %>

<%= link_to "Voltar", root_path, class: "btn btn-default float-xs-right" %>
</div>