/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn-dark{
    color: #ffffff;
    background-color: #0e0e0e;

 }

.bd-navbar {
    min-height: 4rem;
    background-color: #3c3838;
    border: 5px;
}

.inverse-dropdown{
    background-color: #222;
    border-color: #080808;
    &>li>a{
      color: #999;
      &:hover{
        color: #fff;
        background-color: #000;
      }
    }
  }

  .navbar-brand {
    text-decoration: none;
  }

  .nav-link{
    text-decoration: none;
  }

  .dropdown-toggle{
    text-decoration: none;
  }

  .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
    background-color:#3c3838;
    color: #666
  }